<tr>
	<td><%= pizza_row.name %></td>
	<td><%= pizza_row.vegetarian %></td>
	<td><%= pizza_row.price %></td>
	<td><%= pizza_row.calories %></td>
	<td>
		<%= link_to "Edit", edit_pizza_path(pizza_row.id), class: "button" %>
		<!-- TODO: Add actual confirm to delete button -->
		<%= button_to "Delete", pizza_row, method: :delete %>
	</td>
</tr>
<%= render partial: "toppings/topping_row", collection: pizza_row.toppings %>
<tr>
	<td class="emtpy-cell"/>
	<td><%= pizza_row.is_vegetarian() %></td>
	<td><%= pizza_row.numeric_total("price") %></td>
	<td><%= pizza_row.numeric_total("calories") %></td>
</tr>
